/*Declaracion de variables*/
:root {
	--color-base:rgba(76, 185, 80, 1.0) ;
	--color-base-trans: rgba(76, 185, 80, 0.70);
	--color-base-trans-mas: rgba(76, 185, 80, 0.50);
	--color-base-trans-mas-mas: rgba(76, 185, 80, 0.20);
	--negro: rgba(0, 0, 0, 1.0);
	--negro-trans: rgba(0, 0, 0, 0.80);
	--gris: rgba(202, 207, 210, 1.0);
	--blanco: rgb(255, 255, 255, 1.0);
}


/*EN LA HOJA DE ESTILO "SMALL" NO SE UTILIZA LA PSEUDO-CLASE :HOVER
	PORQUE EN UN DISPOSITIVO MOVIL NO HAY CURSOR, VA A DEDAZO*/


/*Estilo para todo el cuerpo*/
body {
	font-size: 3.5vw;
	font-family: Arial;
	background-color: var(--color-base-trans-mas-mas);
}

/*Estilo para la cabecera (header)*/
header {
	font-family: Castellar;
	font-size: large;
	text-align: center;
	text-shadow: 2px 2px var(--blanco);
	clear: both;
	width: 100%;
	background-color:var(--color-base);
	padding-top: 170px;
	padding-bottom: 10px;
}

/*Estilo para el logo grande de la cabecera*/
img.logoGrande {
	width: 25%;
	height: auto;
	border-radius: 100px;
	border-style: solid;
	border-color: white;
	margin-top: 10px;
}

/*Estilo para el menu (nav)*/
nav {
	display: flex;
	flex-flow: column wrap;
	align-content: flex-start;
	overflow: hidden;
	position: fixed;
	top: 0;
	left: 0;
	width: 99%;
	text-align: center;
	letter-spacing: 1.5px;
	clear: both;
	background-color:var(--negro);
	box-shadow: 5px 5px 10px #8F9598;
}
nav a {
	display: flex;
	flex-flow: column wrap;
	align-content: flex-start;
	float: none;
	text-decoration: none;
	color: white;
	padding: 14px 16px;
}

/*Estilo para el contenedor de los articulos*/
main {
	margin-top: 8px;
}

/*Estilo para el articulo*/
.verticalJustificado {
	display: flex;
	flex-flow: column wrap;
	justify-content: justify;
	text-align: justify;
	text-indent: 10px;
}

/*Estilo para las cabeceras de los articulos*/
article h1 {
	display: flex;
	justify-content: center;
	font-family: Arial;
	text-align: center;
	background-color: var(--color-base-trans);
	clear: both;
	width: 100%;
	border-radius: 75px;
	padding: 8px 0px 8px 0px;
}

/*Para ocultar las columnas de las tablas
  y las opciones del menu de navegacion*/
.oc {
	display: none;
}

/*Estilo para el pie (footer)*/
footer {
	display: flex;
	flex-flow: column wrap;
	align-content: flex-start;
	overflow: hidden;
	bottom: 0;
	left: 0;
	width: 99%;
	text-align: center;
	letter-spacing: 1px;
	clear: both;
	background-color:var(--negro);
	padding: 8px;
}
footer a {
	overflow: hidden;
	display: flex;
	flex-flow: column wrap;
	align-content: flex-start;
	text-align: center;
	text-decoration: none;
	color: white;
	padding: 10px 0px 10px 5px;
}