/*Declaracion de variables*/
:root {
	--color-base:rgba(17, 90, 80, 1.0) ;
	--color-base-trans: rgba(17, 90, 80, 0.70);
	--color-base-trans-mas: rgba(17, 90, 80, 0.50);
	--color-base-trans-mas-mas: rgba(17, 90, 80, 0.20);
	--negro: rgba(0, 0, 0, 1.0);
	--negro-trans: rgba(0, 0, 0, 0.80);
	--gris: rgba(202, 207, 210, 1.0);
	--blanco: rgb(255, 255, 255, 1.0);
}

/*Estilo para todo el cuerpo*/
body {
	font-size: 1.5vw;
	font-family: Arial;
	background-color: var(--color-base-trans-mas-mas);
}

/*Estilo para la cabecera (header)*/
header {
	font-family: Algerian;
	font-size: x-large;
	text-align: center;
	text-shadow: 2px 2px var(--blanco);
	clear: both;
	width: 100%;
	background-color:var(--color-base);
	padding-top: 70px;
	padding-bottom: 20px;
}

/*Estilo para el logo grande de la cabecera*/
img.logoGrande {
	width: 15%;
	height: auto;
	border-radius: 100px;
	border-style: solid;
	border-color: white;
	margin-top: 10px;
	transition: border-radius 2s ease, 
				border-style 2s ease; 
}
img.logoGrande:hover {
	border-radius: 0px;
	border-style: dotted;
	border-color: white;
}

/*Estilo para el menu (nav)*/
nav {
	overflow: hidden;
	position: fixed;
	display: flex;
	flex-flow: row wrap;
	align-content: flex-start;
	top: 0;
	left: 0;
	width: 99%;
	letter-spacing: 1.5px;
	clear: both;
	background-color:var(--negro);
	padding: 8px;
	box-shadow: 5px 5px 10px #8F9598;
}
nav a {
	display: flex;
	flex-flow: row wrap;
	align-content: center;
	overflow: hidden;
	text-align: center;
	text-decoration: none;
	color: white;
	padding: 10px 10px 10px 10px;
}
nav a:hover {
	background: var(--gris);
	color: var(--negro);
}
/*Para ocultar el boton de Inicio (es redundante con el logo pequenio)*/
.ocGlobal {
	display: none;
}

/*Estilo para el logo pequenio del menu (nav)*/
img.logito{
	width: 45px;
	height: auto;
	align-items: left;
	border-style: solid;
	border-color: white;
}

/*Estilo para el contenedor de los articulos*/
main {
	margin-top: 8px;
}

/*Estilo para el articulo (el unico que hay)*/
.verticalJustificado {
	display: flex;
	flex-flow: column wrap;
	justify-content: justify;
	text-align: justify;
	text-indent: 10px;
}

/*Estilo para las cabeceras de los articulos*/
article h1 {
	display: flex;
	justify-content: center;
	font-family: Castellar;
	text-align: center;
	background-color: var(--color-base-trans);
	clear: both;
	width: 100%;
	border-radius: 75px;
	padding: 10px 0px 10px 0px;
}

/*Estilo para la pagina del resumen*/
.resumen {
	display: flex;
	flex-flow: column wrap;
	justify-content: center;
	align-items: center;
}

/*Estilo para la tabla con los servicios ofertados*/
table.tablaservicios {
	text-align: center;
	overflow-x: auto;
	width: 100%;
}

/*Esta es la clase que corresponde a los minutos de la tabla*/
.negrita {
	font-weight: bold;
}

/*Para el estilo de la última columna*/
.admin {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
}

/*Estilo para las imágenes de editar y borrar*/
.editar , .borrar{
	width: 40px;
	margin: 5px 0px 5px 0px;
}

/*Estilo para la imagen del engranaje, que servira para activar mas opciones*/
.engranaje {
	display: flex;
	flex-flow: row wrap;
	justify-content: justify;
	align-content: flex-start;
}

.engranajefoto {
	width: 40px;
	margin-top: 10px;
}

/*Estilo para enlace de la reserva y los botones de atras*/
.verticalCentrado {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	align-items: center;
}

/*Estilo para el boton de reserva*/
#reserva {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	text-align: center;
	clear: both;
	text-decoration: none;
	border-style: solid;
	border-color:var(--color-base);
	border-radius: 0px 80px 0px 80px;
	padding: 20px 30px 20px 30px;
	transition: background 2s ease,
				border-radius 2s ease,
				color 2s ease;
}
#reserva:hover {
	background: var(--color-base);
	border-radius: 80px 0px 80px 0px;
	color: var(--blanco);
}

/*Estilo para los botones de Aceptar y Limpiar
	se utilizan clases porque no es unico*/
.boton {
	display: flex;
	flex-flow: column wrap;
	justify-content: justify;
	text-align: center;
	align-content: center;
	font-size: large;
	letter-spacing: 1px;
	word-spacing: 1px;
	cursor: pointer;
	padding: 10px 5px 10px 5px;
}

/*Estilo para el boton de cerrar sesión*/
#cerrar {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	text-align: center;
	clear: both;
	text-decoration: none;
	border-style: solid;
	border-color:var(--color-base);
	padding: 20px 30px 20px 30px;
	transition: background 2s ease,
				border-radius 2s ease,
				color 2s ease;
}
#cerrar:hover {
	background: red;
	color: var(--blanco);
}

img.calendario {
	width: 50px;
	margin-right: 10px;
}

/*Estilo para el enlace de atras en las paginas reserva, tarifa y franja*/
#atras {
	display: flex;
	flex-direction: row;
	justify-content: center;
	text-align: center;
	clear: both;
	text-decoration: none;
	border-style: solid;
	border-color:var(--color-base);
	border-radius: 0px 80px 0px 80px;
	padding: 20px 80px 20px 80px;
	transition: background 2s ease,
				border-radius 2s ease,
				color 2s ease;
}
#atras:hover {
	background: var(--color-base);
	border-radius: 80px 0px 80px 0px;
	color: var(--blanco);
}

img.atras {
	width: 50px;
	margin-right: 10px;
}

/*Estilo para que todos los enlaces no tengan "estilo",
	que no esten subrayados*/
a {
	text-decoration: none;
}

/*Estilo para el pie (footer)*/
footer {
	overflow: hidden;
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	bottom: 0;
	left: 0;
	width: 99%;
	text-align: center;
	letter-spacing: 1.5px;
	clear: both;
	background-color:var(--negro);
	padding: 8px;
}
footer a {
	display: flex;
	flex-flow: row wrap;
	align-content: center;
	overflow: hidden;
	text-align: center;
	text-decoration: none;
	color: white;
	padding: 10px 10px 10px 10px;
}
footer a:hover {
	background: var(--gris);
	color: var(--negro);
}
